<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js")
        link(rel='stylesheet', href='/main.css')
    body
        div(class="ui sidebar vertical left menu overlay visible" style="-webkit-transition-duration: 0.1s; overflow: visible !important;")
            <div class="item logo">
                <img src="img/logo.png" /><img src="img/thumblogo.png" style="display: none" />
            </div>
            <div class="ui accordion">
                <a class="title item">Dashboard  <i class="dropdown icon"></i></a>
                <div class="content">
                <a class="item" href="dashboard.html">Dashboard</a>
                </div>

                <div class="title item">
                    <i class="dropdown icon"></i> Layouts
                </div>
                <div class="content">
                    <a class="item" href="sidebar.html">Sidebar</a>
                    <a class="item" href="menu.html">Nav</a>
                </div>
                <a class="item">
                    <b>Components</b>
                </a>
                <div class="title item">
                    <i class="dropdown icon"></i> UI-Kit
                </div>
                <div class="content">
                    <a class="item" href="accordion.html">Accordion</a>
                    <a class="item" href="breadcrumb.html">Breadcrumb</a>
                    <a class="item" href="button.html">Button</a>
                </div>
            </div>
        .pusher
            div(class="ui menu asd borderless" style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;")
                a(class="item openbtn")
                    i(class="icon content")
                <a class="item">Messages</a>
                <div class="right menu">
                    <div class="ui dropdown item"> Language <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">English</a>
                        <a class="item">Russian</a>
                        <a class="item">Spanish</a>
                    </div>
                </div>
                <div class="item">
                    <div class="ui primary button">Sign Up</div>
                </div>
                </div>
        block content
        script(src="/main.js")