<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js")
        link(rel='stylesheet', href='/main.css')
    body
        <div class="ui top attached demo menu">
            <a class="item">
                <i class="sidebar icon"></i> Menu
            </a>
        </div>
        .ui.bottom.attached.segment
            .ui.vertical.visible.labeled.menu.sidebar
                a(href="/").item Home
                a(href="/").item Topics
                a(href="/").item Friends
                a(href="/").item History
            .pusher
                block content
        </div>
        script(src="/main.js")