extends template/layout

block content
    .container-content
        .ui.card(style="border: none!important").border-none
            .content
                .header= title
                .ui.menu.border-none
                    .item#new
                        i.icon.plus
                    .item#print
                        i.icon.print
            .content
                table.ui.celled.table.striped
                    thead
                        tr
                            th Perfil
                            th Aciones
                    tbody
                        each perfil in perfiles
                            tr
                                td= perfil.perfil
                                td
                                    a(href="/perfil").ui.button.blue editar
                                    a(href="/perfil/eliminar/" + perfil._id).ui.button.red eliminar
        .ui.modal.modal__new
            i.icon.close
            .header Nuevo Producto
            .content
                form(action="/perfil/nuevo", method="post").ui.form
                    .field
                        label(for="perfil") Perfil
                        input#perfil(type="text", name="perfil" placeholder="Perfil")
                    button(type="submit").ui.button.primary Guardar
        .ui.modal.modal__print