extends template/layout

block content
    .data-container
    .table-container
        .table-container__tools
            button.ui.button.blue#new Nuevo
            button.ui.button.blue#print Imprimir
        .table-container__content
