.header .header__menu{
    box-shadow: none;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
}

body .border-none{
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}

.context .pusher{
    transition: all .5s !important;
}

.context .marginlefting {
    margin-left: 260px !important;
}

.context .sidebar{
    box-shadow: none;
    border-top: none;
    overflow: visible !important;
}



.container-content{
    padding: 1rem;
}
.ui.card, .ui.cards>.card{
    width: 100%;
}