.context .sidebar{
    box-shadow: none;
    border-top: none;
    overflow: visible !important;
}
.menu__top{
    margin-left: 50.52px !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    position: relative;
    z-index: 200;
}
.padding1{
    padding: 1rem;
}

.table-container__tools{
    margin-bottom: 1.5rem;
}