<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js")
        link(rel='stylesheet', href='/main.css')
    body
        .ui.menu.borderless.menu__top
                .item= title
                a.item.openbtn.right(href="")
                    i.icon.globe
                a.item.openbtn(href="")
                    i.icon.bell
                .ui.item.pointing.dropdown
                    .text
                        img.ui.avatar.image(src="/images/logo.jpg", alt="") 
                        | Jenny Hess
                    i.dropdown.icon
                    .menu
                        a(href="/perfil").item
                            i.icon.user
                            | Perfil
                        .item
                            i.icon.cogs
                            | Configuracion
                        a(href="/logout").item 
                            i.icon.sign.out.alternate
                            | Cerrar Sesion
        .context
            .ui.vertical.overlay.left.sidebar.menu.borderless.icon.visible
                a(href="/compra").item
                    i.icon.grid.cart
                a(href="/venta").item
                    i.icon.grid.cart
                .ui.divider
                a(href="/usuario").item
                    i.icon.grid.user
                a(href="/producto").item
                    i.icon.grid.cube
                a(href="/tercero").item
                    i.icon.grid.users
                .ui.divider
                a(href="/auditoria").item
                    i.icon.grid.cogs
            .ui.pusher(style="margin-left: 50.52px;")
                .padding1
                    block content
        script(src="/main.js")