<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js")
        link(rel='stylesheet', href='/main.css')
    body
        .header
            .ui.menu.borderless.header__menu
                //- .item.openbtn
                //-     i.icon.cogs
                a.item.openbtn.right(href="")
                    i.icon.globe
                a.item.openbtn(href="")
                    i.icon.bell
                .ui.item.pointing.dropdown
                    .text
                        img.ui.avatar.image(src="/images/logo.jpg", alt="") 
                        | Jenny Hess
                    i.dropdown.icon
                    .menu
                        .item App
                        .item App
                        .item App
        .context.ui.pushable
            .ui.vertical.overlay.left.sidebar.menu.borderless.icon.visible.inverted.blue
                a(href="/compra").item
                    i.icon.grid.cart
                    .menu
                a(href="/venta").item
                    i.icon.grid.cart
                .ui.divider
                .ui.item.dropdown
                    i.icon.grid.id.card
                    .menu
                        a(href="/perfil").item Listar
                        a(href="/perfil").item Nuevo
                .ui.item.dropdown
                    i.icon.grid.user
                    .menu
                        a(href="/usuario").item Listar
                        a(href="/usuario").item Nuevo
                .ui.item.dropdown
                    i.icon.grid.cube
                    .menu
                        a(href="/proveedor").item Listar
                        a(href="/proveedor").item Nuevo
                .ui.item.dropdown
                    i.icon.grid.users
                    .menu
                        a(href="/proveedor").item Listar
                        a(href="/proveedor").item Nuevo
                .ui.divider
                a(href="/auditoria").item
                    i.icon.grid.cogs
            .ui.pusher(style="margin-left: 50.52px;")
                block content
        script(src="/main.js")